$primary-color: rgba(0, 0, 0, 0.9);
$muted-color: rgba(0, 0, 0, 0.54);
$active-muted-color: rgba(0, 0, 0, 0.7);

$blue-color: #2173D2;
$light-blue-color: #2D9BDB;
$yellow-color: #FCAC1F;
$orange-color: #EC6A32;

$active-color: #FFCE00;
$active-color-btn: #FADB00;
$foreground-color: #fff;
$header-background-color: #000;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;